body {
  margin: 0;
  font-family: "Merriweather", serif;
  font-size: 1em;
}

h1 {
  margin-top: 50px;
  font-family: "Sacramento", cursive;
  font-size: 2.5rem;
  color: #66BFBF;
}

h2 {
  font-family: "Montserrat";
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: "Montserrat";
  color: #11999E;
}

.top-container {
  background-color: #EAF9F5;
  position:relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-img {
  width: 25%;
  float: left;
  margin-right: 30px;
  overflow: hidden;
}
