h1 {
  color: red;
}

img:hover {
  background-color: gold;
}

.bacon {
  background-color: red;
}

.broccoli {
  background-color: green;
}

#heading {
  background-color: blue;
}

#veggie {
  background-color: blue;
}

#big {
  font-size: 100px;
}
